<%- include("partials/header"); -%> 



<div id="header" class="text-center">
    <h1>Superhero Showdown!</h1>
</div>

<div class="container text-center justify-content-around">
    <div class="row">
        <div class="col-12 col-lg-4">
        <h2><%=hero%></h2>
        </div>
        <div class="col-12 col-lg-4">
        <h3>VS</h3>
        </div>
        <div class="col-12 col-lg-4">
        <h2><%=villain%></h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12">
        <form action="/">
            <button name="generateNew" type="submit">Generate New</button>
        </form>
        </div>
    </div>
</div>



<%- include("partials/footer"); -%>